<div class="game">
	<h2>Simon Screams</h2>
	
	<button id="play-game">Play</button>

	<div class="score">Score: <span id="score">0</span></div>

	<div class="game-board">
		<div class='tile' id="#FC1CED"></div>
		<div class='tile' id="#5B2EFF"></div>
		<div class='tile' id="#00BD2C"></div>
		<div class='tile' id="#F2F22C"></div>
		<div class='tile' id="#3DF2F2"></div>
		<div class='tile' id="#FC811C"></div>
		<div class='tile' id="#00FC3F"></div>
		<div class='tile' id="#9F09B3"></div>
		<div class='tile' id="#FF3D47"></div>
	</div>

</div>