<div class="sidebar">
	<img id="selfie" src="selfie.jpg" alt="Picture of me">	
	<ul class="contact_list">
		<li><a href="https://www.facebook.com/profile.php?id=1551990061" target="_blank"><img src="facebook-grey.png" title="Facebook" alt="facebook" class="icon" id="facebook"></a></li>
		<li><a href="https://twitter.com/taterprater" target="_blank"><img src="twitter-grey.png" alt="twitter" title="Twitter" class="icon" id="twitter"></a></li>
		<li><a href="https://www.linkedin.com/in/chrisdprater" target="_blank"><img src="linkedin-grey.png" alt="linkedin" title="LinkedIn" class="icon" id="linkedin"></a></li>
		<li><a href="mailto:cprater23@gmail.com"><img src="gmail-grey.png" title="Email" alt="email" class="icon" id="gmail"></a></li>
	</ul>
	<%= link_to "Dogeify?", dogeify_path, id: "dogeify"%>
</div>

<div class="content">
	<h1 class="intro">Computer Enthusiast. Jr Web Developer. Food Obsessor. Cool Guy. Chris Prater.</h1>

	<div class="quick-bio">
	<h3>I am a junior developer with experience building full-stack web applications seeking an opportunity to contribute to an Agile software development team. I enjoy the thrill of discovering new things and making them interact with each other. Nothing to me is more satisfying than completing a small task that is part of a larger project. If I am not knee-deep in code, I am either cooking up a storm in the kitchen or playing a round out at the nearest disc golf course.</h3><br><br>
	</div>

	<div class="skills">
		<h2>Skills</h2>
		<table>
			<tr>
				<td class="categories">
					Languages
				</td>
				<td>
					Ruby, Javascript(Ajax and jQuery)
				</td>
			</tr>
			<tr>
				<td class="categories">
					Frameworks
				</td>
				<td>
					Rails, Sinatra
				</td>
			</tr>
			<tr>
				<td class="categories">
					Testing Environments
				</td>
				<td>
					Rspec, Jasmine
				</td>
			</tr>
			<tr>
				<td class="categories">
					Databases
				</td>
				<td>
					Postgresql, SQLite, ActiveRecord
				</td>
			</tr>
			<tr>
				<td class="categories">
					Version Control
				</td>
				<td>
					Git, GitHub
				</td>
			</tr>
			<tr>
				<td class="categories">
					Methodologies
				</td>
				<td>
					TDD, Agile workflow, Object Oriented Design, MVC Design
				</td>
			</tr>
		</table>
	</div>

		<div class="projects">
			<h2>Projects</h2>
			<table>
				<tr>
					<td class="categories">
						HappeningNow <a href="https://github.com/dbcfoxes2014/happening_now" target="_blank">Source</a>
					</td>
					<td>
						- Allow users to search for events (concerts, conventions) and create a slideshow or video from the media returned
						<br>
						- Uses Ruby on Rails, Javascript, Postgresql, Instagram API, Eventbrite API, FFmpeg
					</td>
				</tr>
				<tr>
					<td class="categories">
						Dev BootFace <a href="https://github.com/cprater/new_dev_boot_face" target="_blank">Source</a>
					</td>
					<td>
						- Our end of phase two group project was our first Rails app, a Facebook clone.
						<br>
						- Uses Ruby on Rails, Javascript, Postgresql                                	
					</td>
				</tr>
			</table>
		</div>

		<div class="experience">
			<h2>Experience</h2>
			<table>
				<tr>
					<td class="categories">
						<a href="http://devbootcamp.com" target="_blank">Dev Bootcamp</a>
					</td>
					<td>
						Completed a 9-week intensive web development program. I came in with little C++ knowledge, came out with knowledge of Ruby on Rails, Sinatra, HTML5, CSS, Javascript(jQuery and AJAX), Test Driven Development(Rspec, Capybara, and Jasmine), Version control through Git, and an Agile workflow.
					</td>
				</tr>
			</table>
		</div>

</div>