<h2>Simon Says</h2>

<div class="score">Score is: <span id="score"></span></div>

<div class="game-board">
	<div class='tile' id="red"></div>
	<div class='tile' id="blue"></div>
	<div class='tile' id="green"></div>
	<div class='tile' id="yellow"></div>
	<div class='tile' id="purple"></div>
	<div class='tile' id="orange"></div>
	<div class='tile' id="pink"></div>
	<div class='tile' id="black"></div>
	<div class='tile' id="brown"></div>
</div>

<%= button_tag "Play", id: "play-game"%>