@mixin player-styling {
	border: 1px solid black;
	padding: 2em;
	font-size: 2em;
	color: black;
	font-family: 'MedievalSharp', 'cursive';
	text-align: center;
}

@mixin life-button-styling{
	margin: 2em 2em 0 2em;
}

.footer {
	display: none;
}

.wrapper{
	padding: 0;
}

.life-counter {
	background-image: url('/public/back-of-mtg-card.jpg');
	min-width: 100%;
	min-height: 100%;
}

.player1 {
	@include player-styling;

	& .life-button {
		@include life-button-styling;
	}

	& .life {
		@include life-button-styling;
	}

}

.player2 {
	@include player-styling;

	& .life-button {
		@include life-button-styling;
	}

	& .life {
		@include life-button-styling;
	}

}