@mixin player-styling {
	border: 1px solid black;
	padding: 2em;
	font-size: 2em;
	color: black;
	font-family: 'MedievalSharp', 'cursive';
	text-align: center;
}

@mixin alter-life-button-styling{
	margin: 2em;
}

.footer {
	display: none;
}

.wrapper{
	padding: 0;
}

.player1 {
	@include player-styling;

	& .alter-life-buttons {
		@include alter-life-button-styling;
	}

}

.player2 {
	@include player-styling;

	& .alter-life-buttons {
		@include alter-life-button-styling;
	}

}