@mixin tile-styling($size){
	width: $size;
	height: $size;
	float: left;
	border: 1px solid black;
	overflow: visible;
}

@mixin board-styling($size){
	max-width: $size;
	max-height: $size - .1em;
	display: inline-block;
	border: 2px solid black;
}

@mixin centered{
	margin: auto;
	position: absolute;
	top: 5em;
	left: 0;
	right: 0;
	bottom: 0;
}

.wrapper {
	border: none;
}

.game{
	color: black;
	display: block;
	font-family: 'Press Start 2P','cursive';

	#play-game {
		margin: 1em 0;
		padding: .25em 2em;
		border-radius: .5em;

		&:visited {
			color: green;
		}
	}

	.wrapper & {
		min-height: $tile-size * 6;
		text-align: center;
	}
}

.tile {
	@include tile-styling($tile-size);
	box-shadow: 0 0 0.25em #7E8385 inset;
}

.game-board {
	$game-border-radius: 1em;
	$tile-border-radius: $game-border-radius - .2em;
	@include board-styling(($tile-size * 3) + .4em);
	@include centered;
	border-radius: $game-border-radius;
	box-shadow: 0  0  0.5em black;
	& .tile:first-child {
		border-top-left-radius: $tile-border-radius;
	}

	& .tile:nth-child(3){
		border-top-right-radius: $tile-border-radius;
	}

	& .tile:nth-child(7){
		border-bottom-left-radius: $tile-border-radius;
	}

	& .tile:last-child {
		border-bottom-right-radius: $tile-border-radius;
	}
}
