<div class="life-counter">
	<div class="player1">		
		<img src="plus-sign.png" class="add life-button">
		<span class="life">20</span>
		<img src="minus-sign.png" class="minus life-button">	
	</div>

	<div class="player2">		
		<img src="plus-sign.png" class="add life-button">
		<span class="life">20</span>
		<img src="minus-sign.png" class="minus life-button">
	</div>
</div>