<div class="player1">
	<span class="life">20</span>
	<img src="plus-sign.png" class="add">
	<img src="minus-sign.png" class="minus">
</div>

<div class="player2">
	<span class="life">20</span>
	<img src="plus-sign.png" class="add">
	<img src="minus-sign.png" class="minus">
</div>